@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  body{
    @apply bg-brdrclr;
  }

  .icon-side{
    @apply cursor-pointer relative h-14 bg-gray-800 text-green-500 p-3 w-14 m-10 rounded-2xl
  hover:rounded-3xl transition-all duration-200 hover:bg-green-600 hover:text-white;
  }

  .icon-clicked{
    @apply cursor-pointer relative h-14 bg-green-600 text-white p-3 w-14 m-10 rounded-3xl;
  }

  .tooltip{
    @apply absolute left-24 w-auto p-2 m-2 min-w-max text-white rounded-md shadow-md bg-black scale-0
    transition-all duration-100 origin-left;
  }

  .box{
    @apply hover:bg-gray-200 hover:border hover:border-black hover:border-dotted p-3 shadow-xl m-3 cursor-pointer border border-slate-300 bg-white flex flex-col justify-center items-center h-60 w-80;
  }

  .subIcon{
    @apply w-20 h-20 text-purple-800;
  }

  .you{
    @apply left-0 border-2 p-3 w-32 bg-slate-100 rounded-xl border-l-lime-700
  }

  .other{
    @apply border-2 mr-0 m-auto p-3 w-32 bg-slate-100 rounded items-end border-r-green-700
  }

  .profile{
    @apply flex flex-row items-center border-2 border-x-0 border-b-violet-700 mt-5 cursor-pointer hover:bg-slate-100;
  }

  .profileicon{
    @apply h-12 w-12 rounded-full bg-brdrclr p-2 m-3;
  }

  .chats{
    @apply overflow-y-scroll p-3 h-[75vh] flex flex-col border border-gray-400 shadow bg-white border-collapse;
  }

  .ans{
    @apply absolute border-2 border-black shadow-2xl rounded bg-white left-28 p-3 text-center flex flex-row gap-3;
  }

  .checkans{
    @apply absolute flex flex-row align-middle items-center bg-white rounded-xl border-2 border-black w-60 left-24 px-2 py-1;
    z-index: 1;
  }

  .hovermsg{
    @apply  absolute shadow-2xl bg-black text-white p-3 py-1 top-[-2.3rem] left-[-0.5rem] w-64 rounded-lg text-left border-[1px] border-white;
  }
  .heading{
    @apply text-[3rem] mb-10 bg-indigo-300 rounded shadow-xl px-4 py-0
  }
}

.scroll::-webkit-scrollbar {
  width: 0.5rem;
}

.scroll::-webkit-scrollbar-thumb{
  background-color: #f5f5f5;
  border-radius: 10px;
  border: solid 1px rgb(156 163 175);
}